*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
  min-height: 100dvh;
  font-family: sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  border: none;
  background: none;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}