/* 모바일 화면 */
body {
  margin: 0 auto;
  max-width: 26.875rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 26.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  height: 3.5rem;
  z-index: 100;
}

/* 로고 */
.logo img {
  height: 1.375rem;
  display: block;
}

/* 공통 이미지 스타일 */
.header img {
  display: block;
  height: 1.5rem;
  width: auto;
  cursor: pointer;
}

/* 우측 아이콘(검색,로그인 전후)*/
.search,
.login-b,
.login-a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

/* 프로필 이미지 */
.profile img {
  width: 1.85rem;
  height: 1.85rem;
  border-radius: 50%;
  object-fit: cover;
}

/* 숨김 처리 */
.hidden {
  display: none !important;
}
