.nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 50%; /* 화면 가운데 기준 */
  transform: translateX(-50%);
  inline-size: 100%;
  max-width: 460px;
  background-color: #ffffff;
  border-top: 1px solid #eee;
  align-items: center;
  padding: 0.75rem 0;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  color: #666;
  font-size: 0.75rem;
}
