.top-authors {
  padding-top: 2rem;
  width: 100%;
  max-width: 26.875rem;
  margin: 0 auto;
}

.top-authors h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: left;
  padding-left: 0.5rem;
  border-bottom: none;
}

.author-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.author-card {
  padding: 2rem 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* 프로필 이미지 */
.author-card .profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

/* 프로필 이름*/
.author-card h3 {
  font-size: 1.05rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.author-card .job {
  font-size: 0.85rem;
  color: #959595;
  margin-bottom: 0.75rem;
}

.author-card .prev {
  font-size: 0.85rem;
  color: #666666;
  line-height: 1.4;
}

/* 십자선 */
.author-card:nth-child(1),
.author-card:nth-child(2) {
  border-bottom: 1px solid #dddddd;
}
.author-card:nth-child(1),
.author-card:nth-child(3) {
  border-right: 1px solid #dddddd;
}
