@import "/assets/css/base/global.css";




/* 관심 작가 섹션 */

.wrapper{
  margin-block-start: 5.5em;
  padding: 1.56em;
}

.fav-writers__title {
  font-size: 1.19em;
  margin-block-end: 0.94em;
  display: flex;
  align-items: center;
}

.fav-writers__more img {
  margin-block-end: 0.1em;
}

/* 슬라이드 */
.fav-writers__list {
  
  display: flex;
  justify-content: center;
  gap: 1.63em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* iOS 부드러운 스크롤 */
  -webkit-overflow-scrolling: touch;
  /* Firefox 스크롤바 숨김 */
  scrollbar-width: none;
}

.fav-writers__list::-webkit-scrollbar {
  /* Chrome, Safari 스크롤바 숨김 */
  display: none; 
}

.fav-writers__item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  cursor: pointer;
}

.fav-writers__item img {
width: 5em;
height: 5em;
/* border: 0.06em solid #959595; */
border-radius: 50%;
}

.fav-writers__item p {
  color: #959595;
  font-size: 0.81em;
}

 /* 최근 본 */
 
 .recent-books__header {
  display: flex;              
  align-items: center;        
  margin-block-start: 2.13em; 
  margin-block-end: 0.94em;
  height: 2.5rem;     
 }


 .recent-books__title {
  font-size: 1.19em; 
  align-items: center;
}

.recent-books__title img{
  margin-block-end: 0.2em;
}

.recent-books__list {
  display: flex; 
  gap: 2.2em; 
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  /* iOS 부드러운 스크롤 */ 
  -webkit-overflow-scrolling: touch; 
  /* Firefox 스크롤바 숨김 */ 
  scrollbar-width: none;
}

.recent-books__list::-webkit-scrollbar { 
  /* Chrome, Safari 스크롤바 숨김 */ 
  display: none; 
}

.recent-books__item {
  object-fit: fill;
  flex: 0 0 7.68em;
  display: flex; 
  scroll-snap-align: start; 
  flex-direction: column; 
  text-align: center; 
  line-height: 1.44em;
}


.recent-books__booktitle {
  font-size: 0.75em;
  margin-block-start: 1em;
}

.recent-books__name {
  display: flex; 
  justify-content: center; 
  gap: 0.23em; 
  font-size: 0.81em; 
  color: #959595;
}

/* 관심 글 섹션 */
.fav-books {
  margin-block-start: 2.13em;
}

.fav-books__title {
  font-size: 1.19em; 
  margin-block-end: 0.94em; 
  display: flex; 
  align-items: center;
}

.fav-books__title img{
  margin-block-end: 0.2em;
}

.fav-books__list {
  display: flex; 
  gap: 2.2em; 
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  /* iOS 부드러운 스크롤 */ 
  -webkit-overflow-scrolling: touch; 
  /* Firefox 스크롤바 숨김 */ 
  scrollbar-width: none;
}

.fav-books__list::-webkit-scrollbar { 
  /* Chrome, Safari 스크롤바 숨김 */ 
  display: none; 
}

.fav-books__item {
  flex: 0 0 7.68em;
  display: flex; 
  scroll-snap-align: start; 
  flex-direction: column; 
  text-align: center; 
  line-height: 1.44em;
}

.fav-books__item a > img{
  width: 7.68em;
  height: 10.75em;
  justify-items: center;
  align-items: center;
  object-fit: cover;
}

.fav-books__booktitle {
  font-size: 0.75em;
  margin-block-start: 1em;
}

.fav-books__name {
  display: flex; 
  justify-content: center; 
  gap: 0.23em; 
  font-size: 0.81em; 
  color: #959595;
}

/* 내 브런치 섹션 */
.my-brunch {
  margin-block-start: 2.13em; 
  margin-block-end: 8.75em;
}

.my-brunch__title {
  font-size: 1.19em; 
  margin-block-end: 0.94em; 
  display: flex; 
  align-items: center; 
  border-bottom: 0.06em solid #EEEEEE;
  margin-inline: -1.28em;
  padding-inline: 1.56em;
  padding-block-end: 0.88em;
}

.my-brunch__item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-block-start: 0.88em;
  margin-block-end: 1.13em;
  border-bottom: 0.06em solid #EEEEEE;
  margin-inline: -1.56em;
  padding-inline: 1.56em;
  padding-block-end: 0.75em;
}

.my-brunch__item h3 {
  all: unset; 
  font-size: 1.06em;
}

.my-brunch__item p {
  font-size: 0.75em;
  color: #959595;
}

.my-brunch__item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

}
