@import "../../../assets/css/base/global.css";


.mybox-container {
  max-width: 22.5em;
  width: 100%;
  margin: 0 auto;
}

/* 관심 작가 섹션 */
.fav-writers {
  padding-block-start: 2.125em;
  padding-inline-start: 1.56em;
}

.fav-writers__title {
  font-size: 1.19em;
  margin-block-end: 0.94em;
  display: flex;
  align-items: center;
}

.fav-writers__more img {
  margin-block-end: 0.1em;
}

/* 슬라이드 */
.fav-writers__list {
  display: flex;
  gap: 1.63em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* iOS 부드러운 스크롤 */
  -webkit-overflow-scrolling: touch;
  /* Firefox 스크롤바 숨김 */
  scrollbar-width: none;
}

.fav-writers__list::-webkit-scrollbar {
  /* Chrome, Safari 스크롤바 숨김 */
  display: none; 
}

.fav-writers__item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.fav-writers__item p {
  color: #959595;
  font-size: 0.81em;
}
