@import url(/assets/css/base/global.css);

body {
}

header {
  display: flex;
  justify-content: center;
  padding: 0 0.125em;
  block-size: 6.25em;
  border-bottom: 0.0625em solid var(--color-border);

  input {
    inline-size: 80%;
    text-align: center;
    padding: 0.5em;
    font-size: 1.73em;
    box-sizing: border-box;

    &:focus::placeholder {
      opacity: 0;
    }
  }
}

.search {
  height: 100%;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-light);

  main {
    block-size: 14.375em;
    display: flex;
    flex-direction: column;

    .keyword-group,
    .recent-search {
      padding: 1em;
    }

    .keyword-group {
      border-bottom: 0.0625em solid var(--color-border);

      h2 {
        color: #bbb;
        font-size: 1.2em;
        font-weight: var(--font-weight-normal);
      }

      p {
        margin-block: 0.46875em;
        color: var(--color-text);
        font-size: 1.45em;

        mark {
          color: var(--color-primary);
        }
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-sm);

        li {
          padding: 0.25em 1em;
          border-radius: var(--radius-lg);
          color: #959595;
          border: 0.0625em solid #ddd;
          background: #fff;
        }
      }
    }

    .recent-search {
      width: 100%;

      h2 {
        color: #828282;
        font-weight: var(--font-weight-normal);
        font-size: 0.95em;
      }

      .recent-keyword {
        li {
          margin-top: 1.2em;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.0825em 0;
          color: var(--color-text);
          font-size: 1.125em;
        }

        &:last-child {
          padding-bottom: 90px; /* 마지막 요소가 fixed nav에 가려지지 않도록 */
        }
      }
    }
  }
}


