header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 11.86%;
  padding: 0.75rem 2rem;
  border-bottom: 1px solid #ddd;

  /* 박스 중앙 맞추기 */
  button svg {
    display: block; /* inline-block 기본 문제 제거 */
  }
}

main {
  block-size: 88.14%;

  flex: 1;
  display: flex;
  flex-direction: column;

  form {
    block-size: 100%;

    .form-title {
      display: flex;
      align-items: center;
      padding-left: 1em; /* 왼쪽 간격 통일 */
      padding-right: 1em;
      height: 60px; /* 절대 고정 높이 */
      font-size: 36px;
      block-size: 20%;
      border-bottom: 1px solid #ddd;
    }
    .form-subtitle {
      display: flex;
      align-items: center;
      padding-left: 1em; /* 왼쪽 간격 통일 */
      padding-right: 1em;
      font-size: 36px;
      block-size: 20%;
      border-bottom: 1px solid #ddd;
    }
    .form-content {
      padding-left: 1em; /* 왼쪽 간격 통일 */
      padding-top: 1em; /* 위쪽 간격 통일 */
      padding-right: 1em;
      font-size: 36px;
      block-size: 60%;

      textarea {
        inline-size: 100%;
        block-size: 100%;
        resize: none; /* 크기 조절 불가 */
        overflow: hidden; /* 스크롤 숨기기 */
      }
    }

    input,
    textarea {
      width: 100%; /* 부모 div 너비에 맞춤 */
      box-sizing: border-box; /* 패딩과 border 포함해서 전체 width 유지 */
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .editor-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.375em 1.5625em;

    .left-buttons {
      display: flex;
      gap: 2.75em;
    }
  }
}
