@import url(/assets/css/base/global.css);


body {
  height: 100%;
}


.search-author {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  block-size: 100%;
  font-weight: var(--font-weight-light);

  input,
  a {
    font-size: 1rem;
    line-height: 36px;
  }

  header {
    display: flex;
    justify-content: center;
    padding: 0 0.125em;
    block-size: 6.25em;

    input {
      inline-size: 80%;
      text-align: center;
      padding: 0.5em;
      font-size: 1.73em;
      box-sizing: border-box;
      appearance: none;

      &:focus::placeholder {
        opacity: 0;
      }
    }
  }

  /* 메뉴 */
  .menu {
    border-bottom: 0.0625em solid var(--color-border);

    .tab-list {
      border-bottom: 1px solid #ccc;
      display: flex;

      li {
        flex: 1;
        text-align: center;
        margin-block-end: 10px;
        position: relative;
      }

      .active {
        font-weight: 700;

        a {
          color: #00b894;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          inline-size: 100%;
          block-size: 3px;
          background-color: #00b894;
          transform: translateY(12px);
        }
      }
    }
  }

  /* 본문 */
  main {
    flex: 1;
    background: linear-gradient(0deg, #f8f8f8 0%, #f8f8f8 100%), #fff;
    padding: 0 1em;
    align-content: center;

    .not-response {
      text-align: center;

      p {
        margin-block: 30px;
      }
    }
  }
}
