@import url(/assets/css/base/global.css);




.search-result {
  
  header {
      display: flex;
      justify-content: center;
      padding: 0 0.125em;
      block-size: 6.25em;
  
      input {
        inline-size: 80%;
        text-align: center;
        padding: 0.5em;
        font-size: 1.73em;
        box-sizing: border-box;
  
        &:focus::placeholder {
          opacity: 0;
        }
      }
    }

  height: 100%;
  font-weight: var(--font-weight-light);

  a {
    font-size: var(--font-md);
    line-height: 2.25rem; /* 36px */
  }

  /* 메뉴 */
  .menu {
    border-bottom: 0.0625rem solid var(--color-border);

    .tab-list {
      border-bottom: 0.0625rem solid var(--color-border);
      display: flex;

      li {
        flex: 1;
        text-align: center;
        margin-bottom: 0.625rem; /* 10px */
        position: relative;
      }

      .active {
        font-weight: 700;

        a {
          color: var(--color-primary-dark);
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          inline-size: 100%;
          block-size: 0.1875rem; /* 3px */
          background-color: var(--color-primary-dark);
          transform: translateY(0.75rem); /* 12px */
        }
      }
    }
  }


  main {
    background: linear-gradient(0deg, #f8f8f8, #f8f8f8), #fff;
    padding: 0 1rem;

    .result-range {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--color-muted);
      font-size: var(--font-xs);
      block-size: 3.75em;

      .result-num {
        font-weight: normal;
      }

      .result-sort {
        display: inline-flex;
        align-items: center;
        padding: 0 0.6rem 0 0.0625rem; /* 9.698px -> 0.6rem | 1px → 0.0625rem */
        gap: 2rem;

        a {
          display: inline-flex;
          align-items: center;
          gap: 0.4375rem; /* 7px */
          color: var(--color-text);
          font-weight: 300;
        }

        a::before {
          content: '';
          display: inline-block;
          background-color: var(--color-primary);
          border-radius: 0.125rem; /* 2px */
          width: 0.25rem; /* 4px */
          height: 0.25rem; /* 4px */
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 2.1875rem; /* 35px */

      mark {
        color: var(--color-primary);
      }

      li {
        margin-bottom: 1rem; /* 16px */

        &:last-child {
          margin-bottom: 0;
        }

        strong {
          color: var(--color-text);
          font-size: var(--font-md);
          font-weight: 300;
        }

        figure {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          gap: 0.625rem; /* 10px */

          img {
            inline-size: 3.75rem; /* 60px */
            block-size: 3.75rem;
          }

          p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            block-size: 2.5rem; /* 40px */
            color: var(--color-muted);
            font-size: var(--font-xs);
            line-height: 1.25rem; /* 20px */
          }

          .author {
            color: var(--color-muted);
            font-size: var(--font-xs);
            margin-block: 0.375rem; /* 6px */
            line-height: 1.21875rem; /* 19.5px */

            .byline {
              color: #bbb;
              font-family: Georgia;
              font-size: 0.8125rem; /* 13px */
              font-style: italic;

              &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                inline-size: 0.125rem; /* 2px */
                block-size: 0.125rem; /* 2px */
                border-radius: 1px;
                background-color: #ddd;
                margin: 0.3125rem; /* 5px */
              }
            }
          }
        }
      }
    }
  }
}