@import url(/assets/css/base/global.css);

body {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.writerhome-container {
  margin-inline-start: 1.25em;
  margin-inline-end: 1.25em;
  margin-block-start: 7em;
  padding-bottom: 1.56em;
}

/* 작가 카드 섹션 */
.writercard {
  display: flex;
  flex-direction: column;
}

.writer-card__profile {
  display: flex;
  justify-content: space-between;
}

.writer-card__profile img {
  width: 5em;
  height: 5em;
  object-fit: contain;
  border-radius: 50%;
}

.writer-card__info {
  margin-block-start: 2.5em;
  margin-block-end: 0.98em;
}

.writer-card__name {
  font-size: 1.69em;
}

.writer-card__job {
  font-size: 0.75em;
  color: #959595;
}

/* 구독 버튼 */
.subscribe-section {
  display: flex;
  justify-content: space-between;
}

.subscribe-section__bookmarkby {
  display: flex;
  flex-direction: column;
}

.subscribe-section__title {
  font-size: 0.75em;
  color: #959595;
}

.subscribe-count {
  font-size: 1em;
  color: #666666;
}

/*  관심 작가 수  */
.writer-subscribe__bookmark {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-inline-start: 3em;
}

.writer-subscribe__favwriter {
  font-size: 0.75em;
  color: #959595;
}

.writer-subscribe__favcount {
  font-size: 1em;
  color: #666666;
}

/* 글 리스트 섹션 */
.write-list {
  padding-block-end: 10em;
}

.write-list__items {
  margin-block-start: 2.54em;
}

.write-list__item {
  display: flex;
  flex-direction: column;
  gap: 0.63em;
  margin-block-start: 1.29em;
  padding-block-end: 1.13em;
  border-bottom: 0.06em solid #eee;
  margin-inline: -1.25em;
  padding-inline: 1.25em;
}

.write-list__item p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.write-list__item a {
  font-size: 0.81em;
  text-decoration: underline;
  color: var(--color-primary);
  text-underline-offset: 0.19em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.write-list__item a:hover {
  text-shadow: 0 0.13em 0.19em #d9d9d9;
}

h3 {
  all: unset;
  line-height: 1.5em;
  font-size: 1.06em;
  color: #333;
}

.write-list__item > p {
  font-size: 0.75em;
  color: #959595;
}

.write-list__data {
  display: flex;
  gap: 0.5em;
  font-size: 0.75em;
  color: #959595;
}
