body {
  display: flex;
  justify-content: center;
}

/* 콘텐츠스타일 */
.container {
  width: 100%;
  max-width: 28.875rem;
  background-color: white;
  overflow: hidden;
  margin: 1.5rem;
  margin-top: 3.75rem;
  margin-bottom: 5rem;
}

/* 헤더 이미지 + 텍스트 */
.head {
  position: relative;
  height: 240px;
  background-image: url('/assets/images/detail/detail-bck.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-wrap {
  position: relative;
  padding: 2.5rem 1rem 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.subtitle {
  font-size: 1rem;
  color: #666666;
}

.author {
  font-size: 1rem;
  color: #959595;
  margin-top: 0.25rem;
}

/* 본문 공통 */
.content,
.content2 {
  padding: 1rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #1b1b1b;
}

/* 이미지 스타일 */
.image-section {
  padding: 0 1.25rem;
  margin-top: 0.5rem;
  text-align: center;
}

.image-section img {
  width: 25rem;
  height: 15rem;
}

.image-caption {
  font-size: 0.8rem;
  color: #666;
  margin-top: 0.5rem;
}
