@import url(/assets/css/base/global.css);

/* 콘텐츠스타일 */
.container {
  width: 100%;
  max-width: 28.875rem;
  margin: 0 auto;
  margin-top: 3.75rem;
  margin-bottom: 5rem;

  box-sizing: border-box;
}

/* 헤더 이미지 + 텍스트 */
.head {
  position: relative;
  height: 20rem;
  background-image: url('/assets/images/detail/detail-bck.png');
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  left: 1.25rem;
  right: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  color: #333333;
}

.subtitle {
  font-size: 1rem;
  color: #666666;
}

.author {
  font-size: 1rem;
  color: #959595;
  margin-top: 2.5rem;
}

/* 본문 공통 */
.content,
.content2 {
  padding: 4rem 4rem;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  color: #1b1b1b;
}

/* 이미지 스타일 */
.image-section {
  padding: 0 1.25rem;
  margin-top: 0.5rem;
  text-align: center;
}

.image-section img {
  width: 100%;
  height: auto;
}

.image-caption {
  font-size: 0.8rem;
  color: #666;
  margin-top: 0.5rem;
}
.author-card {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
}

.author-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.author-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.author-name {
  font-size: 20px;
  font-weight: bold;
}

.author-job {
  font-size: 15px;
  color: #666;
  margin-top: 4px;
}

.author-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.author-desc {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  word-break: keep-all;
}

.author-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.subs {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.subscribe-btn {
  border: none;
}

.author-react {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 12px;
  padding-bottom: 8rem;
}

.icon-button {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
