@import url('../../../assets/css/base/global.css');


body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  padding: 0 1.5625em;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 수직 가운데 정렬로 아이콘 정렬 */
  border-bottom: 1px solid #eee;
  height: 44px;
}
.post-form {
  color: #959595;
  font-size: 1.5em;
  line-height: 1.625em;
  
  input {
    width: 100%;
    height: 68px;
    border-bottom: 1px solid #eee;
    margin-inline-end: 10px;
  }

  textarea {
    width: 100%;
    height: 333px;
  }
}
 
.editor-toolbar {
  display: flex;
  justify-content: space-between;
  background: var(--color-secondary);
  margin-bottom: 80px;
  padding: 1.375em 1.5625em;
}

.left-buttons {
  display: flex;
}

/* 제출 버튼을 헤더와 같은 수평선상에 배치 */
.form-content {
  position: relative;
}
.submit-btn {
  opacity: 0.4;
  pointer-events: none;
  transition: 0.2s ease;
  position: absolute; /* 오른쪽 상단에 고정 */
  right: 0;
  top: -56px; /* 헤더 높이 기준으로 위로 올려 평행 배치 */
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
}
.submit-btn.active {
  opacity: 1;
  pointer-events: auto;
}

.submit-btn.active svg path {
  stroke: var(--color-primary);
}