@import url('../../../assets/css/base/global.css');


body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 360px;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  height: 44px;
}
.post-form {
  color: #959595;
  font-size: 1.5em;
  line-height: 1.625em;
  
  input {
    width: 100%;
    height: 68px;
    border-bottom: 1px solid #eee;
    margin-inline-end: 10px;
  }

  textarea {
    width: 100%;
    height: 333px;
  }
}
 

.form-subtitle {
  width: 370px;
}
.editor-toolbar {
  display: flex;
  justify-content: space-between;
  background: var(--color-secondary);
  margin-bottom: 80px;
  padding: 1.375em 1.5625em;
}

.left-buttons {
  display: flex;
}

.submit-btn {
  opacity: 0.4;
  pointer-events: none;
  transition: 0.2s ease;
}
.submit-btn.active {
  opacity: 1;
  pointer-events: auto;
}

.submit-btn.active svg path {
  stroke: var(--color-primary);
}